[project]
	description = Managed workspaces for Go
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/John Asmuth (skelterjohn)
[access "refs/for/refs/*"]
	read = group user/John Asmuth (skelterjohn)
	push = group user/John Asmuth (skelterjohn)
	label-Code-Review = -2..+2 group user/John Asmuth (skelterjohn)
	label-Verified = -1..+1 group user/John Asmuth (skelterjohn)
	rebase = group user/John Asmuth (skelterjohn)
	removeReviewer = group user/John Asmuth (skelterjohn)
	submit = group user/John Asmuth (skelterjohn)
[access "refs/heads/*"]
	read = group user/John Asmuth (skelterjohn)
	create = group user/John Asmuth (skelterjohn)
	push = +force group user/John Asmuth (skelterjohn)
	pushMerge = group user/John Asmuth (skelterjohn)
[access "refs/tags/*"]
	push = +force group user/John Asmuth (skelterjohn)
	pushTag = group user/John Asmuth (skelterjohn)
	pushSignedTag = group user/John Asmuth (skelterjohn)
